<div style="z-index:99999999;border-bottom:1px solid white;border-top:1px solid white;height:19%;width:100%;background:black;opacity:0.8;top:0px;">

<div style="">
<p style="font-size:30px;margin:30px;color:white;font-family:entsans;font-size:30px;">EMPORIO CARS<p style="font-size:10px;margin-top:-58px;margin-left:290px;font-family:entsans;">LTD</p></p>
</div>  

<%= link_to root_path do %>
<div style="margin-left:70px;margin:0px auto;width:870px;margin-top:40px;">
<p style="float:left;font-size:20px;color:white;font-family:Roboto2;margin-right:40px;">DASHBOARD</p>
</div>
<% end %>

</div>






<div style="">
<p style="font-size:30px;margin:30px;color:white;font-family:entsans;">Messages</p>
</div> 

<table style="font-size:20px;margin-left:1%;color:white;font-family:entsans;width:98%;">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Tel</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @microposts.each do |micropost| %>
  <tr>
    <td><%= micropost.name %></td>
    <td><%= micropost.email %></td>
    <td><%= micropost.tel %></td>
    <td><%= micropost.content %></td>
    <td><%= link_to 'Destroy', micropost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />







<div style="margin:0px auto;z-index:100000;width:100%;margin-top:200px;">
<div style="margin:0px auto;z-index:100000;width:800px;margin-top:30px;">
  <%= form_for(@vehicle) do |f| %>
  <%= f.text_field :name, placeholder: "Title", style: "width:653px;" %></br>
  <%= f.text_area :description, rows:5,  placeholder: "Description", style: "width:653px;" %>
  <%= f.text_field :make, placeholder: "Car Manufacturer" %>
  <%= f.text_field :model, placeholder: "Model" %>
  <%= f.text_field :colour, placeholder: "Colour" %>
  <%= f.text_field :mileage, placeholder: "Mileage" %>
  <%= f.text_field :engine, placeholder: "Engine (3.2)" %>
  <%= f.text_field :year, placeholder: "Year of Car" %>
  <%= f.text_field :price, placeholder: "Price (9500)" %>
  <%= f.select :body, options_for_select([["Body Type", ""], "Saloon", "Coupe", "Hatchback", "Estate","Convertible", "4x4"]) %>
  <%= f.select :transmission, options_for_select([["Auto/Manual", ""], "Automatic", "Manual"]) %>
  <%= f.select :status, options_for_select([["Sold/Unsold", ""], "Sold", "Unsold"]) %>
  <%= f.select :doors, options_for_select([["No. Doors", ""], "1", "2", "3", "4","5", "6"]) %>
  
  <%= f.select :fuel, options_for_select([["Fuel Type", ""], "Petrol", "Diesel"]) %>
  <%= f.file_field :img1 %>
  <%= f.file_field :img2 %>
  <%= f.file_field :img3 %>
  <%= f.file_field :img4 %>
  <%= f.file_field :img5 %>
  <%= f.file_field :img6 %>
  <%= f.submit "UPLOAD CAR", class: "btn btn-large btn-danger", style: "width:671px;margin-top:10px;font-family:Roboto2;" %>
  <% end %>
</div>
</div>

