<img  src="/carbon.jpg" style="position:fixed;z-index:-9999999;width:100%;height:100%;top:0px;" />


<div style="position:absolute;top:0px;font-size:30px;text-align:Center;border-bottom:1px solid white;background:black;height:50px;width:100%;">
<p style="font-size:0.9em;margin:20px;color:white;font-family:entsans;">EMPORIO CARS<p style="font-size:0.3em;margin-top:-45px;margin-left:255px;font-family:entsans;">LTD</p></p>
</div>  


<div style="position:fixed;z-index:99999999;border-bottom:0px solid white;height:70px;width:100%;background:black;opacity:0.85;bottom:0px;">

<div style="margin-top:15px;">

<a class="active" href="#" onClick="goto('#home', this); return false"style="float:left;margin-left:4%;margin-right:4%;width:20%;"><img src="cp.gif"  style="border-radius:8px;height:40px;width:100%;" /></a>

<a href="#" onClick="goto('#used', this); return false"style="float:left;margin-right:4%;width:20%;"><img src="cp.gif"  style="border-radius:8px;height:40px;width:100%;" /></a>

<a href="#" onClick="goto('#warranty', this); return false" style="float:left;margin-right:4%;width:20%;"><img src="cp.gif"  style="border-radius:8px;height:40px;width:100%;" /></a>

<a href="#" onClick="goto('#contact', this); return false"  style="float:left;margin-right:4%;width:20%;"><img src="cp.gif"  style="border-radius:8px;height:40px;width:100%;" /></a>

</div>



</div>






















    <div id="wrap">
      
    <div id="content">
    
      <div class="contentbox-wrapper1">
        




        <div id="home" class="contentbox1">



        <div style="margin-top:80px;width:96%;margin-left:2%;">
      

        <div style="font-size:30px;color:white;background:black;opacity:0.8;border:1px solid white;padding:20px;border-radius:4px;">

        <h3 style="padding:0px;margin:0px;font-family:helvetica;font-size:0.7em;font-weight:bold;">HOME OF PRESTIGE CARS</h3>
        <p style="font-size:0.5em;font-family:helvetica;">

          Here at Emporio Cars Ltd we have over 10 years motor trade experience and you can be assured to receive a proffessional, friendly and hassle free experience.

        </br></br>

          We do not follow a strict sales process and we do not pressure our customers in any way. All of our customers are treated equally regardless of their budget. It's all about finding the right car for you, at the right price, so you can drive away happy.

        </br></br>

          Please feel free to call, text or email us with any questions and we will answer them honestly and as thoroughly as possible.



          Our phone line is open 7 days a week 9am - 9pm. However, viewing is by appointment.

        </br></br>
        
          Most of our vehicles are fully prepared and ready to drive away. We can arrange road fund for your new vehicle quickly and can also handle all of your private plate transfers.



        </p>
        </div>


        </div>


        

        </div>
        











        <div id="used" class="contentbox1">


          Used Cars
            <div id="" style="margin:0px auto;width:100%;margin-top:60px;">
      <%= render @vehicles %>
  </div>


        </div>











        <div id="warranty" class="contentbox1">

          <iframe width="100%" height="60%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps?client=safari&amp;oe=UTF-8&amp;q=TN24+8NN&amp;ie=UTF8&amp;hq=&amp;hnear=TN24+8NN,+United+Kingdom&amp;gl=uk&amp;t=m&amp;z=14&amp;ll=51.152606,0.868599&amp;output=embed&amp;iwloc=near"></iframe>

          <div style="margin-left:2%;width:96%;background:black;opacity:0.85;border:0px solid white;border-radius:5px;">

          <p style="color:#cfcfcf;margin-left:60px;margin-top:10px;font-size:18px;font-family: 'Roboto2';line-height:25px;font-weight:normal;">                                              

                                                                          <img src="icon/dribbble.png" width="30" height="30" alt="" title="minimad Facebook icon" style="margin-left:-50px;margin-right:10px;" />
                                                                          Magazine Road</br>
                                                                          Ashford</br>
                                                                          Kent</br>
                                                                          TN24 8NN
                                                                          </br></br>
                                                                          <img src="icon/twitter.png" width="30" height="30" alt="" title="minimad Facebook icon" style="margin-left:-50px;margin-right:10px;" />
                                                                          07790 220000

          </p>

          </div>

        </div>





        <div id="contact" class="contentbox1">

   
          <div class="" style="margin-top:70px;width:90%;margin-left:4%;font-size:30px;">

<%= simple_form_for(@micropost) do |f| %>

      <p style="font-size:0.5em;">Name</p>
      <%= f.text_field :name, style: "width:100%;" %>

      <p style="font-size:0.5em;">Email</p>
      <%= f.text_field :email, style: "width:100%;" %>

      <p style="font-size:0.5em;">Tel</p>
      <%= f.text_field :tel, style: "width:100%;" %>

      <p style="font-size:0.5em;">Message</p>
      <%= f.text_area :content, rows:4, style: "width:100%;" %>



      <button type="submit" class="btn btn-inverse btn-large" style="width:104%;font-family:Roboto2;">SEND</button>
<% end %>

</div>

        </div>  


</div>
</div>



</div>


<script>

function goto(id, t){ 
  //animate to the div id.
  $(".contentbox-wrapper1").animate({"left": -($(id).position().left)}, 600);
  
  // remove "active" class from all links inside #nav
    $('#nav a').removeClass('active');
  
  // add active class to the current link
    $(t).addClass('active');  
}

</script>

