<%= link_to vehicle do %>

<div class="item" style="">

	<div style="width:260px;float:left;padding:15px;background:black;">
	<%= image_tag vehicle.img1_url.to_s %>
	</div>


<div style="float:right;width:10%;">
<p style="font-family:Roboto2;float:right;font-size:25px;">£<%= vehicle.price %></p>
</div>


<div style="float:right;width:54%;">
<p style="font-size:23px;line-height:28px;font-family:Roboto2;float:left;"> <%= vehicle.name %> </p>
</div>






<div style="width:20%;height:43px;float:right;background:black;margin-top:5px;font-size:17px;margin-left:2%;">
<p style="margin:12px;float:left;font-size:12px;">Mileage:</p><p style="margin:12px;float:right;color:red;"><%= vehicle.mileage %> mi</p>
</div>

<div style="width:20%;height:43px;float:right;background:black;margin-top:5px;font-size:17px;margin-left:2%;">
<p style="margin:12px;float:left;font-size:12px;">Registration:</p><p style="margin:12px;float:right;color:red;"><%= vehicle.year %></p>
</div>

<div style="width:20%;height:43px;float:right;background:black;margin-top:5px;font-size:17px;">
<p style="margin:12px;float:left;font-size:12px;">Trans:</p><p style="margin:12px;float:right;color:red;"><%= vehicle.transmission %></p>
</div>


<div style="width:64%;float:right;margin-top:5px;font-size:13px;">
<p style="font-family:helvetica;margin:5px;float:right;line-height:14px;"><%= truncate vehicle.description, length:450 %></p>
</div>



<div style="float:right;width:20%;font-size:25px;margin-top:5px;">
<button type="submit" class="btn btn-danger btn-medium" style="font-family:Roboto2;width:100%;">More info</button>
</div>




  <% if signed_in? %>
    <%= link_to "delete", vehicle, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: vehicle.name %>
  <% end %>





</div>

<% end %>
