<%= link_to vehicle do %>

<div class="item" style="">

<% if vehicle.img1? %>
	<div style="width:260px;float:left;padding:15px;background:black;">
	<%= image_tag vehicle.img1_url.to_s %>
	</div>
<% else %>
	<div style="width:260px;height:200px;float:left;padding:15px;background:black;">
	<p style="text-align:center;margin-top:90px;">Images Coming</p>
	</div>
<% end %>


<div style="float:right;width:10%;">
<p style="font-family:Roboto2;float:right;font-size:25px;">£<%= vehicle.price %></p>
</div>


<div style="float:right;width:54%;">
<p style="font-size:23px;line-height:28px;font-family:Roboto2;float:left;"> <%= vehicle.name %> </p>
</div>






<div style="width:20%;height:43px;float:right;background:black;margin-top:5px;font-size:17px;margin-left:2%;">
<p style="margin:12px;float:left;font-size:12px;font-family:Roboto2;">Mileage:</p><p style="margin:12px;float:right;color:red;font-size:17px;font-family:Roboto2;"><%= vehicle.mileage %> mi</p>
</div>

<div style="width:20%;height:43px;float:right;background:black;margin-top:5px;font-size:17px;margin-left:2%;">
<p style="margin:12px;float:left;font-size:12px;font-family:Roboto2;">Registration:</p><p style="margin:12px;float:right;color:red;font-size:17px;font-family:Roboto2;"><%= vehicle.year %></p>
</div>

<div style="width:20%;height:43px;float:right;background:black;margin-top:5px;font-size:17px;">
<p style="margin:12px;float:left;font-size:12px;font-family:Roboto2;">Trans:</p><p style="margin:12px;float:right;color:red;font-size:17px;font-family:Roboto2;"><%= vehicle.transmission %></p>
</div>


<div style="width:64%;float:right;margin-top:5px;font-size:13px;">
<p style="font-family:helvetica;margin:5px;float:right;line-height:14px;"><%= truncate vehicle.description, length:450 %></p>
</div>



<div style="float:right;width:20%;font-size:25px;margin-top:5px;">
<button type="submit" class="btn btn-danger btn-medium" style="font-family:Roboto2;width:100%;">More info</button>
</div>




  <% if signed_in? %>
    <%= link_to "delete", vehicle, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: vehicle.name %>
  

  <%= link_to "Edit", edit_vehicle_path(vehicle),  style: "position:absolute;width:168px;height:25px;" if vehicle.id? %>

  <% end %>



</div>

<% end %>
