<img  src="/room.jpg" style="position:fixed;top:0;z-index:-9999999;width:100%;height:100%;" />


<div style="position:absolute;z-index:99999999;border-bottom:1px solid white;height:19%;width:100%;background:black;opacity:0.8;top:0px;">

<div style="font-size:35px;">
<p style="margin:30px;color:white;font-family:Roboto2;">EMPORIO CARS</p>
</div>  

<%= link_to root_path do %>
<div style="margin-left:70px;margin:0px auto;width:870px;">
<p style="float:left;font-size:20px;color:white;font-family:Roboto2;margin-right:40px;">BACK</p>
</div>
<% end %>

</div>


<div id="gallery" style="margin-top:14%">

                <div id="scrollGalleryHead">
					<div id="thumbarea">
						<div id="thumbareaContent">
                            <%= image_tag @vehicle.img1_url.to_s %>
                            <%= image_tag @vehicle.img2_url.to_s %>
                            <%= image_tag @vehicle.img3_url.to_s %>
                            <%= image_tag @vehicle.img4_url.to_s %>
                            <%= image_tag @vehicle.img5_url.to_s %>
                            <%= image_tag @vehicle.img6_url.to_s %>

						</div> 
					</div>
				</div>
				<div id="scrollGalleryFoot">
					<div id="imagearea">
					  <div id="imageareaContent" style= "opacity:0.95;">
                            <%= image_tag @vehicle.img1_url.to_s %>
                            <%= image_tag @vehicle.img2_url.to_s %>
                            <%= image_tag @vehicle.img3_url.to_s %>
                            <%= image_tag @vehicle.img4_url.to_s %>
                            <%= image_tag @vehicle.img5_url.to_s %>
                            <%= image_tag @vehicle.img6_url.to_s %>
                            
                      </div> 
					</div> 
				</div>

</div>




