<div style="position:absolute;z-index:99999999;border-bottom:1px solid white;height:19%;width:100%;background:black;opacity:0.8;top:0px;">

<div style="font-size:35px;">
<p style="margin:30px;color:white;font-family:Roboto2;">EMPORIO CARS</p>
</div>  

<%= link_to root_path do %>
<div style="margin-left:70px;margin:0px auto;width:870px;">
<p style="float:left;font-size:20px;color:white;font-family:Roboto2;margin-right:40px;">BACK</p>
</div>
<% end %>

</div>



<div style="margin-top:260px;">



	<div style="width:500px;height:550px;">
	<%= image_tag @vehicle.img1_url.to_s %>
	</div>

<div style="width:220px;font-size:25px;">
<p style="text-align:center;">£<%= @vehicle.price %></p>
</div>


<p style="margin-top:20px;margin-bottom:20px;font-size:18px;text-align:center;"> <%= @vehicle.name %> </p>

<div style="width:100px;height:30px;float:left;">
<p style="text-align:center;"><%= @vehicle.year %></p>
</div>

<div style="width:110px;height:30px;float:right;">
<p style="text-align:center;"><%= @vehicle.mileage %>m</p>
</div>

<div style="width:100px;height:30px;float:left;">
<p style="text-align:center;"><%= @vehicle.engine %>L</p>
</div>

<div style="width:110px;height:30px;float:right;">
<p style="text-align:center;"><%= @vehicle.fuel %></p>
</div>

<div style="width:100px;height:30px;float:left;">
<p style="text-align:center;"><%= @vehicle.transmission %></p>
</div>

<div style="width:110px;height:30px;float:right;">
<p style="text-align:center;"><%= @vehicle.body %></p>
</div>








</div>




