<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "EMPORIO CARS" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Dealer" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>


<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>


  <link rel="stylesheet" href="demo.css" type="text/css" />

  <%= javascript_include_tag "mootools-core-1.3.1-full-nocompat" %>
  <%= javascript_include_tag "mootools-1.3.1.1-more" %>
  <%= javascript_include_tag "scrollGallery" %>
  <%= javascript_include_tag "jquery.masonry.min" %>

    <script type="text/javascript">
        window.addEvent('domready', function() {
            var scrollGalleryObj = new scrollGallery({
        start:0,
        autoScroll: true
      });
        });
    </script>

<script>

function goto(id, t){ 
  //animate to the div id.
  $(".contentbox-wrapper").animate({"left": -($(id).position().left)}, 600);
  
  // remove "active" class from all links inside #nav
    $('#nav a').removeClass('active');
  
  // add active class to the current link
    $(t).addClass('active');  
}

</script>




    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">




        <div >

        </div>


              <%= render 'layouts/messages' %>
              <%= yield %>




          <footer>
          </footer>


  </body>
</html>
